.menu { font-size: 10pt; } 
.menu :link { text-decoration: none; color:#FFFFFF; }
.menu :visited { text-decoration: none; color:#FFFFFF; }
.menu :active { text-decoration: none; color:#FFFFFF; }
.menu :hover { text-decoration: none; color:#FFFFFF; } 

.body { font-size: 10pt; }
.body :link { text-decoration: none; color:#000000; }
.body :visited { text-decoration: none; color:#000000; }
.body :active { text-decoration: none; color:#000000; }
.body :hover { text-decoration: none; color:#666666; }
